{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="col-md-8">
    <h3>About Freedom Songs</h3>
    <hr>
    <h5>Because our stories tend not to be in the Top 40</h4>
    <br>
    <p><b>The Freedom Songs Project</b> aims to highlight songs by popular artists of color that speak to the diverse experiences of minorities in the US and beyond. The project aims to challenge the dominant narratives of what the founder calls <b>"pop privilege"</b>: pop music that focuses on party culture, mysoginy, and exploitation of people of color's bodies and traditions.</p>

    <p>The name is a nod to the music of the Civil Rights Movement. Songs like "Missippi Goddam" and "To Be Yound, Gifted, and Black" by Nina Simone or spirituals like "This Little Light of Mine" and "We Shall Overcome" helped to define and advance the movement. The project is an acknowledgement of all the progress we have seen since the 60s and a statememt for all the work that still needs to be done to bring about justice in our communities.</p>

    <br>

    <p>Have questions? Check out the <a href="{{url_for('users.faq')}}">FAQ</a></p>


  </div>
</div>
{% endblock %}
